body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgb(216, 132, 229) 1%,
    rgb(121, 169, 169) 0%,
    rgb(110, 113, 155) 100%
  );
  
}

.container {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  width: 80%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #0563b4 !important;
}
p {
  color: red;
}
